<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="PM3ClientFilename" value="proxmark3.exe" />
    <add key="ConsoleDumpTimeout" value="1000" />
  </appSettings>
</configuration>